body {
    background: #33658A;
    background: radial-gradient(circle, rgba(51, 101, 138, 1) 0%, rgba(47, 72, 88, 1) 100%, rgba(134, 187, 216, 1) 50%);
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1cm;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.informationen {
    text-align:center;
    padding-left: 8cm;
    padding-right: 8cm;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.logo {
    color: white;
    display: block;
    margin: auto;
    padding-top: 10cm;
    width: 250px;
}

.glow2 {
    color:#82afd1;
    text-shadow: #82afd1 0 0 25px;
}

.glow {
    color: #abe2ff;
    text-shadow: #abe2ff 0 0 25px;
}